<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.study.mapper.JobProblemTypeMapper">
    <resultMap type="JobProblemType" id="JobProblemTypeResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
    </resultMap>

    <sql id="selectJobProblemTypeVo">
        select id, type
        from job_problem_type
    </sql>

    <select id="selectJobProblemTypeList" parameterType="JobProblemType" resultMap="JobProblemTypeResult">
        <include refid="selectJobProblemTypeVo"/>
        <where>
            <if test="type != null  and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>

    <select id="selectJobProblemTypeById" parameterType="Long" resultMap="JobProblemTypeResult">
        <include refid="selectJobProblemTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertJobProblemType" parameterType="JobProblemType" useGeneratedKeys="true" keyProperty="id">
        insert into job_problem_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type},
            </if>
        </trim>
    </insert>

    <update id="updateJobProblemType" parameterType="JobProblemType">
        update job_problem_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">
                type = #{type},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJobProblemTypeById" parameterType="Long">
        delete from job_problem_type where id = #{id}
    </delete>

    <delete id="deleteJobProblemTypeByIds" parameterType="String">
        delete from job_problem_type where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>